/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  border-bottom: 1px solid #fff;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87); /* Text color */
  font-weight: bold;
  text-align: left;
  padding: 10px 15px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #ededed;
}

.p {
  font-weight: bold;
}
.filter-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c1b5b5;
}

.filter-input.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}
td.product-name-cell {
  color :inherit; /* Change the text color */
}
.total-revenue {
  margin-top: 20px;
  font-weight: bold;
  color: #007bff; /* Text color */
  border-top: 2px solid #007bff; /* Top border */
  padding-top: 10px; /* Add some space above the total revenue */
  display: flex;
  justify-content: space-between; /* Align total revenue and other content */
  align-items: center;
}

.total-revenue-label {
  font-size: 1.2rem;
}

.total-revenue-amount {
  font-size: 1.4rem;
}
input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px; 
  transition: border-color 0.3s ease; 
}

input:focus {
  outline: 1px solid;
  border-color: #3f51b5; 
}
.app {
  /* text-align: center; */
  padding: 10px;
}

.app-title {
  font-size: 2rem;
  color: #8a2be2; /* Text color */
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
.user-name {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px; /* Add some space after the line */
  margin-bottom: 8px; /* Add some space between user entries */
  padding: 8px;
  font-family: sans-serif;
}
.user-profile {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 8px; /* Add some space after the line */ /* Add some space between user entries */
  padding: 8px;
  font-family: sans-serif;
}
.user-profile1 {
  border-right: 1px solid #0e0e0e;
  padding: 10px;
}
.card-header {
  background-color: #eceff1e6 !important;
  padding: 16px 16px 8px !important;
  /* color: rgb(48, 45, 45) !important; */
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  width: inherit ; /* Set the width to inherit from the card */
  display: flex; /* Use Flexbox for centering */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  height: 80px;
}
.header-title {
  margin: 0 !important;
  font-family: sans-serif !important; /* Reset margin for Typography */
  font-weight: 600 !important;
  color: rgb(73, 73, 73);
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.user-list-container {
   max-height: 400px;
  overflow-y: auto; 
  padding-right: 14px
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cac9c9;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* src/components/ChatList.css */
.chat-list-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
}

.chat-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}
.address-info{
  padding-left: 20px;
}
/* src/components/ComingSoon.css (or ComingSoon.scss if using SCSS) */
.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* 100% of the viewport height */
  text-align: center;
}

/* Additional styling for the text */
/* h1 {
  font-size: 36px;
  color: #333;
} */
h1 {
  font-size: 5rem !important;
  color: #EEEEEE !important;
}
/* . {
  height: 100vh;
  width: 100vw;
} */

.map-container {
  height: 50%;
  width: 120%;
}
/* src/components/ChatList.css */
.chat-list {
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 16px;
  overflow-y: scroll;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-item:hover {
  background-color: #f2f2f2;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.chat-details {
  flex: 1;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.last-message {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.timestamp {
  font-size: 12px;
  color: #aaa;
}

/* src/components/ChatList.css */
.chat-list-container {
  position: fixed;
  bottom: 16px;
  right: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.toggle-button {
   background-color: #fff;  
  /* color: white; */
}

.chat-list {
  display: none;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  transition: height 0.3s;
}

.open {
  display: block;
  height: 300px;
}

.closed {
  height: 0;
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  /* padding-top: 100px; */
  background: #3C58C8;
}

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
    transform: translate(-4%, 40%)
}

 /* .curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(-90%, 90%);
   background-color: hsl(210, 30%, 96%); 
} */

/* .curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 0%);
  z-index: -1;
}  */